<!--MODAL EXPERIENCIA-->
<div class="modal fade" id="workModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal">Experiencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4" *ngFor="let trabajos of experiencias">
            <div class="card">
              <img [src]="trabajos.imagen" class="card-img-top">
              <div class="card-body" style="height: 25rem;">
                <h4 class="card-title text-center">{{trabajos.titulo}}</h4>
                <h6 class="text-center"> {{trabajos.subtitulo}} </h6>
                <p class="card-text text-center"> {{trabajos.descripcion}} </p>
                <div class="d-flex justify-content-center my-3">
                <button type="button" class="btn btn-primary" data-bs-target="#editarExpModal" (click)="trabajos.id? findExperiencia(trabajos.id): null" data-bs-toggle="modal" style="margin-right: 8px">
                  <i class="fa-solid fa-pen"></i>
                </button>
                <button type="button" class="btn btn-primary" data-bs-target="#eliminarEducacion"  data-bs-toggle="modal" (click)="delete(trabajos.id)">
                  <i class="fa-solid fa-trash" ></i>
                </button>
              </div>
              </div>
            </div> 
        </div>
            </div>
          </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-target="#agregarModal" data-bs-toggle="modal">
          <i class="fa-solid fa-plus"></i>
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
      </div>
  </div>
</div>
</div>
      
<!-- BOTÓN DE MODAL AGREGAR EXPERIENCIA -->
<div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal">Agregar Experiencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="form.valid && onCreate()">   
      <div class="modal-body">
          <div class="mb-3 row">
            <label for="formFile" class="form-label">Imagen</label>
              <div class="col-sm-10">
                <input type="imagen" class="form-control" formControlName="imagen"  placeholder="Imagen Empresa" [class.border-danger]="ImagenValid" [(ngModel)]="imagen">
                <div *ngIf="Imagen?.errors && Imagen?.touched">    
                  <p *ngIf="Imagen?.hasError('required')" class="error">Debes ingresar una imagen.</p>
              </div>
              </div>
            </div>
              <div class="mb-3 row">
                <label for="exampleFormControlTextarea1" class="form-label">Título</label>
                <div class="col-sm-10">
                  <input class="form-control" type="titulo" formControlName="titulo" placeholder="Título" [class.border-danger]="TituloValid" [(ngModel)]="titulo">
                  <div *ngIf="Titulo?.hasError && Titulo?.touched">  
                    <p *ngIf="Titulo?.hasError('required')" class="error"> Debes ingresar un título.</p> 
                    <p *ngIf="Titulo?.hasError('maxlength')" class="error"> El límite máximo es de 40 caracteres. </p>
              </div>
            </div>
          </div>
            <div class="mb-3 row">
              <label for="exampleFormControlTextarea1" class="form-label">Subtítulo</label>
              <div class="col-sm-10">
                <input class="form-control" type="subtitulo" formControlName="subtitulo" placeholder="Subtítulo" [class.border-danger]="SubtituloValid" [(ngModel)]="subtitulo">
                <div *ngIf="Subtitulo?.hasError && Subtitulo?.touched">  
                  <p *ngIf="Subtitulo?.hasError('required')" class="error"> Debes ingresar un subtítulo.</p> 
                  <p *ngIf="Subtitulo?.hasError('maxlength')" class="error"> El límite máximo es de 500 caracteres. </p>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
          <div class="col-sm-10">
            <textarea class="form-control" type="descripcion" formControlName="descripcion" placeholder="Descripción" [class.border-danger]="DescripcionValid" [(ngModel)]="descripcion"></textarea>
            <div *ngIf="Descripcion?.hasError && Descripcion?.touched">  
              <p *ngIf="Descripcion?.hasError('required')" class="error"> Debes ingresar una descripción.</p> 
              <p *ngIf="Descripcion?.hasError('minlength')" class="error"> Debes ingresar un mínimo de 20 caracteres. </p>
              <p *ngIf="Descripcion?.hasError('maxlength')" class="error"> El límite máximo es de 500 caracteres. </p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</div>
  </form>
  </div>
</div>
</div>

<!-- BOTÓN DE MODAL EDITAR EXPERIENCIA -->
<div class="modal fade" id="editarExpModal" tabindex="-1" aria-labelledby="editarExpModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal">Editar Experiencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar"></button>
      </div>
      <form [formGroup]="form">   
          <input type="hidden" id="id">

      <div class="modal-body">
          <div class="mb-3 row">
            <label for="formFile" class="form-label">Imagen</label>
              <div class="col-sm-10">
                <input type="imagen" class="form-control" placeholder="Imagen Empresa" [class.border-danger]="ImagenValid" formControlName="imagen" id="imagen">
                <div *ngIf="Imagen?.errors && Imagen?.touched">    
                  <p *ngIf="Imagen?.hasError('required')" class="error">Debes ingresar una imagen.</p>
              </div>
              </div>
            </div>
              <div class="mb-3 row">
                <label for="exampleFormControlTextarea1" class="form-label">Título</label>
                <div class="col-sm-10">
                  <input class="form-control" type="titulo" placeholder="Título" [class.border-danger]="TituloValid" formControlName="titulo" id="titulo">
                  <div *ngIf="Titulo?.hasError && Titulo?.touched">  
                    <p *ngIf="Titulo?.hasError('required')" class="error"> Debes ingresar un título.</p> 
                    <p *ngIf="Titulo?.hasError('maxlength')" class="error"> El límite máximo es de 40 caracteres. </p>
              </div>
            </div>
          </div>
            <div class="mb-3 row">
              <label for="exampleFormControlTextarea1" class="form-label">Subtítulo</label>
              <div class="col-sm-10">
                <input class="form-control" type="subtitulo" placeholder="Subtítulo" [class.border-danger]="SubtituloValid" formControlName="subtitulo" id="subtitulo">
                <div *ngIf="Subtitulo?.hasError && Subtitulo?.touched">  
                  <p *ngIf="Subtitulo?.hasError('required')" class="error"> Debes ingresar un subtítulo.</p> 
                  <p *ngIf="Subtitulo?.hasError('maxlength')" class="error"> El límite máximo es de 50 caracteres. </p>
            </div>
          </div>
        </div>
          <div class="mb-3 row">
            <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
            <div class="col-sm-10">
              <textarea class="form-control" type="descripcion" placeholder="Descripción" [class.border-danger]="DescripcionValid" formControlName="descripcion" id="descripcion"></textarea>
              <div *ngIf="Descripcion?.hasError && Descripcion?.touched">  
                <p *ngIf="Descripcion?.hasError('required')" class="error"> Debes ingresar una descripción.</p> 
                <p *ngIf="Descripcion?.hasError('minlength')" class="error"> Debes ingresar un mínimo de 20 caracteres. </p>
                <p *ngIf="Descripcion?.hasError('maxlength')" class="error"> El límite máximo es de 200 caracteres. </p>
              </div>
              </div>
            </div>
          </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="saveExpe()" [disabled]="form.invalid">Guardar</button>
      </div>
    </form>
    </div>
  </div>
</div>

 <!-- BOTÓN DE MODAL ELIMINAR EXPERIENCIA 
 <div class="modal fade" id="eliminarExperiencia" tabindex="-1" aria-labelledby="eliminarExperienciaLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar experiencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onRespuesta($event)"> 
      <div class="modal-body">
        <p>¿Seguro/a que quieres eliminar esta experiencia?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Si</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> No </button>
      </div>
      </form>
    </div>
  </div>
</div>
-->