<!--MODAL HARDSKILL-->
<div class="modal fade" id="HardSkillModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal">Hard Skills</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

<div class="modal-body"> 
    <div class="row" *ngFor="let skill of hardskills">
    <div class="col-8" >
      <div class="mt-2"> <h6 class="titulo">{{skill.titulo}}</h6> </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"  [style.width.%]="skill.porcentaje">{{skill.porcentaje}}%</div>
      </div>
    </div>
      <div class="col-4">
        <button type="button" class="btn btn-primary" (click)="skill.id? findSkill(skill.id): null" data-bs-target="#editarHardSkillModal" data-bs-toggle="modal" style="margin-right: 8px; margin-top: 30px;">
          <i class="fa-solid fa-pen"></i>
        </button>
        <button type="button" class="btn btn-primary" data-bs-target="#eliminarSoftSkill" data-bs-toggle="modal"  style="margin-right: 8px; margin-top: 30px;" (click)="delete(skill.id)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
  </div>
</div>
        <div class="modal-footer mt-3">
          <button type="button" class="btn btn-primary" data-bs-target="#agregarHardSkillModal" data-bs-toggle="modal">
            <i class="fa-solid fa-plus"></i>
          </button>
          <button type="button" class="btn btn-primary">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  

<!-- BOTÓN DE MODAL AGREGAR HARD SKILL -->
<div class="modal fade" id="agregarHardSkillModal" tabindex="-1" aria-labelledby="agregarHardSkillModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agregarHardSkill">Agregar Hard Skill</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar"></button>
        </div>

        <form [formGroup]="form"  (ngSubmit)="form.valid && onCreate()"> 
          <div class="modal-body">
              <div class="mb-3 row">
                <label for="exampleFormControlTextarea1" class="form-label">Título</label>
                  <div class="col-sm-10">          
                    <input type="text"class="form-control" placeholder="Título skill" [class.border-danger]="TituloValid" id="exampleInputEmail1" aria-describedby="emailHelp"  formControlName="titulo" [(ngModel)]="titulo"> 
                    <div *ngIf="Titulo?.errors && Titulo?.touched">    
                      <p *ngIf="Titulo?.hasError('required')" class="error">Debes ingresar un título.</p>
                      <p *ngIf="Titulo?.hasError('pattern')" class="error"> No puedes usar caracteres especiales ni números. </p>
                  </div>
                  </div>
                </div>

                <div class="mb-3 row">
                  <label for="exampleFormControlTextarea1" class="form-label"> Porcentaje</label>
                  <div class="col-sm-10">
                  <input type="number" class="form-control" max= "100" min= "0" placeholder="Escala 0-100" [class.border-danger]="PorcentajeValid"  id="exampleInputPorcentaje1"formControlName="porcentaje" [(ngModel)]="porcentaje" > 
                    <div *ngIf="Porcentaje?.errors && Porcentaje?.touched">    
                      <p *ngIf="Porcentaje?.hasError('required')" class="error"> Debes ingresar un porcentaje.</p>
                      <p *ngIf="Porcentaje?.hasError('min')" class="error"> El porcentaje mínimo es 0. </p>
                      <p *ngIf="Porcentaje?.hasError('max')" class="error"> El porcentaje máximo es 100. </p>
                  </div>
                  </div>
                </div>
                </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
     </form>
    </div>
  </div>
</div>

 <!-- BOTÓN DE MODAL EDITAR HARD SKILL -->
<div class="modal fade" id="editarHardSkillModal" tabindex="-1" aria-labelledby="editarHardSkillModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarHardSkill">Editar Hard Skill</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrar"></button>
      </div>
      <form [formGroup]="form">
        <input type="hidden" name="" id="id">
        <div class="modal-body">
            <div class="mb-3 row">
              <label for="titulo" class="form-label">Título</label>
                <div class="col-sm-10">          
                  <input type="text" class="form-control" placeholder="Título Skill"  [class.border-danger]="TituloValid" formControlName="titulo" id="titulo" name="">
                  <div *ngIf="Titulo?.errors && Titulo?.touched">    
                    <p *ngIf="Titulo?.hasError('required')" class="error">Debes ingresar un título.</p>
                </div>
                </div>
              </div>

              <div class="mb-3 row">
                <label for="porcentaje" class="form-label"> Porcentaje</label>
                <div class="col-sm-10">
                <input type="number" class="form-control" max= "100" min= "0" placeholder="Escala 0-100" [class.border-danger]="PorcentajeValid" formControlName="porcentaje" id="porcentaje" name="" > 
                  <div *ngIf="Porcentaje?.errors && Porcentaje?.touched">    
                    <p *ngIf="Porcentaje?.hasError('required')" class="error">Debes ingresar un porcentaje.</p>
                    <p *ngIf="Porcentaje?.hasError('min')" class="error"> El porcentaje mínimo es 0. </p>
                    <p *ngIf="Porcentaje?.hasError('max')" class="error"> El porcentaje máximo es 100. </p>
                </div> 
                </div>
              </div>
              </div>
        <div class="modal-footer">
          <button type="Submit" class="btn btn-primary" (click)="saveSkill()" [disabled]="form.invalid">Guardar</button>
        </div>
      </form>
  </div>
</div>
</div>
 


 <!-- BOTÓN DE MODAL ELIMINAR HARD SKILL 
 <div class="modal fade" id="eliminarHardSkill" tabindex="-1" aria-labelledby="eliminarHardSkillLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar hard skill</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onRespuesta($event)"> 
      <div class="modal-body">
        <p>¿Seguro/a que quieres eliminar esta skill?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Si</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> No </button>
      </div>
      </form>
    </div>
  </div>
</div>
-->