<!--MODAL PORTFOLIO-->
<div class="modal fade" id="portfolioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal">Proyectos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body"> 
          <div class="row">
            <div class="col-6" *ngFor="let proye of proyectos">
              <div class="carta">
                <div class="card-body" style="height: 16rem">
                  <h5 class="card-title">{{proye.titulo}}</h5>
                  <p class="card-text">{{proye.descripcion}}</p>
                 <div class="d-flex justify-content-center my-3">
                  <button type="button" class="btn btn-primary" data-bs-target="#editarProyectoModal" data-bs-toggle="modal" style="margin-right: 8px; margin-top: 25px;" (click)="proye.id? findProyecto(proye.id): null">
                    <i class="fa-solid fa-pen"></i> </button>
                    <button type="button" class="btn btn-primary" data-bs-target="#eliminarProyecto" data-bs-toggle="modal" style="margin-right: 8px; margin-top: 25px;" (click)="delete(proye.id)" >
                      <i class="fa-solid fa-trash"></i>
                    </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#agregarProyectoModal" data-bs-toggle="modal">
            <i class="fa-solid fa-plus"></i>
          </button>
          <button type="button" class="btn btn-primary">Cerrar</button>
        </div>
      </div>
  </div>
</div>

<!-- BOTÓN DE MODAL AGREGAR PROYECTO -->
    <div class="modal fade" id="agregarProyectoModal" tabindex="-1" aria-labelledby="agregarProyectoModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal">Agregar proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reset"></button>
        </div>
        <form [formGroup]="form"  (ngSubmit)="form.valid && onCreate()">   
        <div class="modal-body">
            <div class="mb-3 row">
              <label for="exampleFormControlTextarea1" class="form-label">Título</label>
              <div class="col-sm-10">
                <input class="form-control" formControlName="titulo" type="text" placeholder="Título proyecto" [class.border-danger]="TituloValid" aria-label="default input example"  [(ngModel)]="titulo">
                <div *ngIf="Titulo?.hasError && Titulo?.touched">  
                  <p *ngIf="Titulo?.hasError('required')" class="error"> Debes ingresar un título.</p> 
                  <p *ngIf="Titulo?.hasError('maxlength')" class="error">  El límite máximo es de 100 caracteres. </p>
                </div>
              </div>
            </div>
              <div class="mb-3 row">
                <label for="exampleFormControlTextarea1" class="form-label mt-3">Descripción</label>
                <div class="col-sm-10">
                <textarea class="form-control" formControlName="descripcion" placeholder="Descripción proyecto"  [class.border-danger]="DescripcionValid" id="floatingTextarea"  [(ngModel)]="descripcion"></textarea>
                  <div *ngIf="Descripcion?.hasError && Descripcion?.touched">  
                    <p *ngIf="Descripcion?.hasError('required')" class="error"> Debes ingresar una descripción.</p> 
                    <p *ngIf="Descripcion?.hasError('maxlength')" class="error"> El límite máximo es de 120 caracteres. </p>
                  </div>
              </div>
            </div>
            <div class="mb-3 row">
                <label for="exampleFormControlTextarea1" class="form-label mt-3">Link</label>
                <div class="col-sm-10">
                <input class="form-control" formControlName="link" type="text" placeholder="https://LinkProyecto.com" [class.border-danger]="LinkValid" aria-label="default input example"  [(ngModel)]="link">
                <div *ngIf="Link?.hasError && Link?.touched">  
                  <p *ngIf="Link?.hasError('required')" class="error"> Debes ingresar un link.</p> 
                </div>
              </div>
            </div>
            </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
      </div>
    </div>
  </div>

<!-- BOTÓN DE MODAL EDITAR PROYECTO -->  
<div class="modal fade" id="editarProyectoModal" tabindex="-1" aria-labelledby="editarProyectoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal">Editar proyecto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrar"></button>
      </div>
      <form [formGroup]="form">   
        <input type="hidden" id="id">
      <div class="modal-body">
          <div class="mb-3 row">
            <label for="exampleFormControlTextarea1" class="form-label">Título</label>
            <div class="col-sm-10">
              <input class="form-control" formControlName="titulo" type="text" placeholder="Título proyecto" [class.border-danger]="TituloValid" id="titulo" formControlName="titulo">
              <div *ngIf="Titulo?.hasError && Titulo?.touched">  
                <p *ngIf="Titulo?.hasError('required')" class="error"> Debes ingresar un título.</p> 
                <p *ngIf="Titulo?.hasError('maxlength')" class="error">  El límite máximo es de 100 caracteres. </p>
              </div>
            </div>
          </div>
            <div class="mb-3 row">
              <label for="exampleFormControlTextarea1" class="form-label mt-3">Descripción</label>
              <div class="col-sm-10">
              <textarea class="form-control" formControlName="descripcion" placeholder="Descripción proyecto"  [class.border-danger]="DescripcionValid" id="descripcion"  formControlName="descripcion"></textarea>
                <div *ngIf="Descripcion?.hasError && Descripcion?.touched">  
                  <p *ngIf="Descripcion?.hasError('required')" class="error"> Debes ingresar una descripción.</p> 
                  <p *ngIf="Descripcion?.hasError('maxlength')" class="error"> El límite máximo es de 120 caracteres. </p>
                </div>
            </div>
          </div>
          <div class="mb-3 row">
              <label for="exampleFormControlTextarea1" class="form-label mt-3">Link</label>
              <div class="col-sm-10">
              <input class="form-control" formControlName="link" type="text" placeholder="https://LinkProyecto.com" [class.border-danger]="LinkValid" id="link"  formControlName="link">
              <div *ngIf="Link?.hasError && Link?.touched">  
                <p *ngIf="Link?.hasError('required')" class="error"> Debes ingresar un link.</p> 
              </div>
            </div>
          </div>
          </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="saveProye()" [disabled]="form.invalid">Guardar</button>
      </div>
    </form>
    </div>
  </div>
</div>

  <!-- BOTÓN DE MODAL ELIMINAR PROYECTO  
 <div class="modal fade" id="eliminarProyecto" tabindex="-1" aria-labelledby="eliminarProyectoLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar proyecto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onRespuesta($event)"> 
      <div class="modal-body">
        <p>¿Seguro/a que quieres eliminar este proyecto?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Si</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> No </button>
      </div>
      </form>
    </div>
  </div>
</div>
--> 